.App {
  text-align: center;
  height: auto;
  width: 100vw;
  min-height: 100vh;
}

.snorlax{
  max-width: 30vw;
  margin-top: 16px;
 
}

@media screen and (max-width:375px){  
  .snorlax {
    max-width: 50%;

  }
}
